/* Courses.css */

.LayoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(224,224,234);
  background: linear-gradient(187deg, rgba(224,224,234,1) 0%, rgba(236,236,241,0.6811974789915967) 0%, rgba(42,165,228,0.7764355742296919) 100%);
}

.ProjectorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.ProjectorImage {
  width: 80%; /* You can adjust this value as needed */
  max-width: 100%; /* Set a maximum width for large images */
  height: 500px; /* Set a fixed height for consistency */
  object-fit: cover; /* Ensure the image covers the dimensions without distortion */
}

.ProjectorArticle {
  max-width: 1000px; /* Match the max-width of the image */
  text-align: center;
  margin-top: 20px;
}

.SliderContainer {
  width: 100%;
}

.SliderItem {
  position: relative;
  cursor: pointer;
}

.CourseImage {
  width: 100%;
  height: 150px; /* Set a fixed height for consistent size */
  object-fit: cover; /* Maintain aspect ratio and fill container */
  border-radius: 2%;
}

.SliderTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 16px;
}

.JoinButton {
  margin-top: 20px;
  margin-left: 100px;
}
.join {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff; /* Bootstrap primary color or your preferred color */
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.join:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}
/* Add this to your Courses.css */
.CourseId {
  font-size: 0.9em;
  color: #666;
  margin-top: 0.5em;
}
